<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Halaman Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


    <div class="mx-auto mt-44" style="width: 320px;">
        <h1 class="text-center font-semibold">
            CodeLab's Inventory System
        </h1>

        <img src="https://picsum.photos/100" alt="" class="mt-4 mx-auto">

    </div>


    <div class="mx-auto mt-8 rounded-md h-56 border border-slate-900 shadow-lg flex" style="width: 320px;">

        <div class="my-auto">
            <div class="flex px-2">

                <div class="w-1/3 text-right">
                    <div class="mb-3">e-mail</div>
                    <div>password</div>
                </div>

                <div class="w-2/3 pl-4 my-auto">
                    <div>
                        <input id="username" type="text" class="bg-gradient-to-tr from-slate-800 to-sky-800 text-white bg-slate-900 mb-3 rounded-md">
                    </div>
                    <div>
                        <input id="password" type="password" class="bg-gradient-to-tr from-slate-800 to-sky-800 text-white bg-slate-900 mb-3 rounded-md">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-auto mt-4 rounded-md shadow-lg" style="width: 320px;">
        <button id="login-button" class="rounded-md bg-gradient-to-tr from-slate-800 to-sky-800 text-white px-3 py-1 w-full">Login</button>
    </div>

</div>
    
</body>
</html>